/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2020, 11:20:14 AM
    Author     : golu
*/

body::after {
    content: "";
    background: url("texture.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 100%;
    opacity: 0.4;
    filter:blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1; 
    animation-name:example ;
    animation-duration: 1s; 
}

@keyframes example {
    from {transform: translate(200px, 0px);}
    to {transform: translate(0px, 0px);}
}
.navv{
    list-style-type: none;
    background-color: white;
    width: 100%;
    position: fixed;
    top:0;
    font-family: 'Gabriola';
    font-size: 24px;
    color: #FB7C39;
    box-shadow:0px 3px 8px 0px rgb(197, 196, 196);
    overflow: hidden;
    z-index: 1;
}
li{
    float:right;
    padding: 0px;
    /* padding:5px 8px 2px 8px; */
    margin-left: 0px;
    background-color: white;
}
li:hover{
  background-color: #FB7C39;
  color: white;
}
.navtitle{
    font-family: 'Brush Script MT';
    color: #FF2B68;
    float: left;
    padding:3px;
    margin:0px;
}
li img{
  border-radius: 15px;
}
li a{
    color: #FB7C39;
    text-decoration: none;
    display: block;
    padding:5px 8px 2px 8px;  
}
li a:hover,.active{
    color: white;
    text-decoration: none;
    background-color: #FB7C39;
}
.filter_div{
    border: 1px solid rgb(202, 202, 202);
    /* border-radius: 15px; */
    color: #FB7C39;
    margin-right: 3%;
    margin-left: 3%;
    padding:10px;
    width: 20%;
    margin-top: 60px;
    margin-right: 0px;
    position: absolute;
    left: 0;
    font-family: 'Gabriola';
    font-size: 20px;
}
.feeds_div{
    float: left;
    width: 70%;
    margin-left:25%;
    margin-top: 50px;
}
.my_container{
    margin-left: 5%;
    margin-right: 5%;
}
.story_card img{
    position: relative;
    left: 0;
}

.story_card{
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    /* box-shadow: 1px 1px 10px 3px grey; */
    padding-top:1.5%;
    padding-bottom:1.5%;
    color:#FB7C39;
    font-family: 'Gabriola';
    margin-top:10px;
}

.story_date{
    text-align: right;
}



.button_link:hover{
    color:white;
    
}

.desc{
    color:black;
    font-family:'Bahnschrift Light';
    font-size: 15px;
}

.action_btn{
    background-color: #FB7C39;
    border:1px solid #FB7C39;
    color:white;
    border-radius: 5px;
    float: right;
    margin-left:15px;
    font-size: 20px;
    padding: 0px;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}

.action_btn:hover{
    background-color: #FF2B68;
    border:1px solid #FF2B68;
    text-decoration: none;
    color:white;
}
.r_link:hover{
    text-decoration:none;
    color:white;
}