body::after {
    content: "";
    background: url("texture.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 100%;
    opacity: 0.4;
    filter:blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1; 
    animation-name:example ;
    animation-duration: 1s; 
}

@keyframes example {
    from {transform: translate(200px, 0px);}
    to {transform: translate(0px, 0px);}
}
.navv{
    list-style-type: none;
    background-color: white;
    width: 100%;
    position: fixed;
    top:0;
    font-family: 'Gabriola';
    font-size: 24px;
    color: #FB7C39;
    box-shadow:0px 3px 8px 0px rgb(197, 196, 196);
    overflow: hidden;
    z-index: 1;
}
li{
    float:right;
    padding: 0px;
    /* padding:5px 8px 2px 8px; */
    margin-left: 0px;
    background-color: white;
}
li:hover{
  background-color: #FB7C39;
  color: white;
}
.navtitle{
    font-family: 'Brush Script MT';
    color: #FF2B68;
    float: left;
    padding:3px;
    margin:0px;
}
li img{
  border-radius: 15px;
}
li a{
    color: #FB7C39;
    text-decoration: none;
    display: block;
    padding:5px 8px 2px 8px;  
}
li a:hover,.active{
    color: white;
    text-decoration: none;
    background-color: #FB7C39;
}


.filter_div{
    border: 1px solid rgb(202, 202, 202);
    /* border-radius: 15px; */
    color: #FB7C39;
    margin-right: 3%;
    margin-left: 3%;
    padding:10px;
    width: 20%;
    margin-top: 60px;
    margin-right: 0px;
    position: absolute;
    left: 0;
    font-family: 'Gabriola';
    font-size: 20px;
}
.feeds_div{
    float: left;
    width: 70%;
    margin-left:25%;
    margin-top: 50px;
}
#filter{
    text-align: center;
    font-family: 'Gabriola';
    /* font-weight: bold; */
    font-size: 32px;
}

@keyframes scaling {
    from {transform: scale(0);opacity:0;}
    to {transform: scale(1);opacity:1;}
}

.title_chk{
    font-family: 'Gabriola';
    font-size: 20px;
    margin:0px;
}

.div_chk{
    padding-left:10% ;
    margin-top: 0px;
    font-family: 'Gabriola';
    font-size: 20px;
}

.my_container{
    margin-left: 5%;
    margin-right: 5%;
}

input[type=submit]{
    background-color: #FB7C39;
    border: solid 1px #FB7C39;
    border-radius: 13px;
    color:white;
    font-family: 'Gabriola';
    font-size: 20px;
    margin-left:25%;
    width:50%;
    height:30px;
    padding:0px;
}
input[type=date]{
    width:100%;
    border: 1px solid #FB7C39;
}

input[type=submit]:hover{
    background-color: rgb(179, 67, 7);
    border: solid 1px rgb(179, 67, 7);
}


.story_card img{
    position: relative;
    left: 0;
}

.story_card{
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    /* box-shadow: 1px 1px 10px 3px grey; */
    padding-top:1.5%;
    padding-bottom:1.5%;
    color:#FB7C39;
    font-family: 'Gabriola';
    margin-top:10px;
    animation-name: scaling;
    animation-duration: 1s;
}

.story_date{
    text-align: right;
}

.icon_small{
    float: left;
    padding:1px;
}
.count_disp{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:2px;
    font-size:14px;
}

.action_btn{
    background-color: #FB7C39;
    border:1px solid #FB7C39;
    color:white;
    border-radius: 5px;
    float: right;
    margin-left:15px;
    font-size: 20px;
    padding: 0px;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}

.action_btn:hover{
    background-color: #FF2B68;
    border:1px solid #FF2B68;
    text-decoration: none;
    color:white;
}

.r_link:hover{
    text-decoration:none;
    color:white;
}
.icon_btn{
    background-color:white;
    /*overflow: hidden;*/
    padding: 5px;
    border:none;
    width:70px;
    border-radius: 5px;
}
.icon_btn:focus{
    outline:none;
}
.icon_img:hover{
    background-color: rgb(247, 140, 84);
}

.desc{
    color:black;
    font-family:'Bahnschrift Light';
    font-size: 15px;
}

.star_icon{
    font-size: 32px;
    color:grey;
    float:right;
    width: 20px;
}

.star_icon:hover{
    color:red;
    text-decoration: none;
}

@keyframes btn_anim {
  0%   {transform:rotate(0deg);}
 25%   {transform:rotate(-50deg);}
  50% {transform:rotate(50deg);}
  75% {tranform:rotate(50deg);}
  100% {tranform:rotate(-50deg);}
}
@keyframes example1 {
    from {transform: translate(0px, 200px);
	opacity:0;
	}
    to {transform: translate(0px, 0px);
	opacity:1;
	}
}
