<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>storyteller.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftServlet</servlet-name>
        <servlet-class>storyteller.controller.DraftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageDisplay</servlet-name>
        <servlet-class>storyteller.controller.imageDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartServlet</servlet-name>
        <servlet-class>storyteller.controller.AddPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>storyteller.controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStoryServlet</servlet-name>
        <servlet-class>storyteller.controller.EditStoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartServlet</servlet-name>
        <servlet-class>storyteller.controller.EditPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>storyteller.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>storyteller.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftServlet</servlet-name>
        <url-pattern>/DraftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartServlet</servlet-name>
        <url-pattern>/AddPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStoryServlet</servlet-name>
        <url-pattern>/EditStoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartServlet</servlet-name>
        <url-pattern>/EditPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
